.copy_right_footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: black;
text-align: center;
line-height: 3;
color: white;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 30px;

}
h4 {
    color: red;
}
#camera {
    border-radius: 30px;
    width: 500px;
    height: 400px;
    border-style: dashed;
    padding: 30px;
}
img:hover {
    background-color: black;
    border-radius: 20px;
    border-style: dotted;
    color: white;
}